.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.pagination__item {
  background-color: transparent;
  border: 1px solid var(--clr-border);
  color: var(--clr-txt);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  min-width: 4rem;
}

.pagination__item:hover {
  color: var(--clr-txt-hover);
}

.pagination__item--active {
  background-color: var(--clr-fade-bg);
}

.pagination__item--remove {
  opacity: 0;
}

@media (max-width: 42rem) {
  .pagination__item {
    display: none;
  }
  .pagination__item--active,
  .pagination__item--prev,
  .pagination__item--next {
    display: block;
  }
}
