.button {
    cursor: pointer;
    background-color: var(--clr-primary-200);
    color: var(--clr-txt-white);
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.25rem;
    font-size: 1.125rem;
    transition: all ease-in 100ms;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }
  
  .button:hover{
      background-color: var(--clr-bg-primary-hover);
  }
  
  .button--gray{
      background-color: var(--clr-fade-bg);
      cursor: not-allowed;
  }
  
  .button--gray:hover{
      background-color: var(--clr-fade-bg-hover);
  }
  
  .button--danger{
      background-color: var(--clr-danger);
  }
  
  .button--danger:hover{
      background-color: var(--clr-danger);
      opacity: .9;
  }
  
  .button--ghost{
      background-color: transparent;
      border: 1px solid var(--clr-border);
      transition: all ease 200ms;
      color: var(--clr-txt);
  }
  
  .button--ghost:hover{
      background-color: var(--clr-fade-bg-hover);
      opacity: .9;
      color: var(--clr-txt-white);
  }