.btn__control {
    position: absolute;
    top: 40%;
    color: var(--clr-txt-white);
    width: 3rem;
    height: 6rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__control:focus,
.btn__control:focus-visible {
    border: 3px solid var(--clr-txt-white);
    outline: 3px solid var(--clr-txt-hover);
}

.btn__control--prev {
    left: 1rem;
}

.btn__control--next {
    right: 1rem;
}