.profile {
  max-width: 30rem;
  width: 100%;
  margin-top: 2rem;
}

.profile__title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 1rem;
  text-align: center;
}

.profile__body {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0 1rem;
}

.profile__btn-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}