.category-products{
    display: flex;
    gap: 1rem;
}

.category-products__filter{
    flex: 1;
    height: fit-content;
    border: 1px solid var(--clr-border);
}

.category-products__title{
    font-weight: 400;
    padding: 1rem;
    border-bottom: 1px solid var(--clr-border);
}

.category-products__container{
    flex: 3;
}

.category-products__list{
    border-top: 1px solid var(--clr-border);
    border-bottom: 1px solid var(--clr-border);
    padding: .5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 20rem);
    place-content: center;
}

.category-products__sort-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-products__empty{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.category-products__para{
    font-size: 1.5rem;
    color: var(--clr-txt-fade);
}