.category-products{
    display: flex;
    gap: 1rem;
}

.filter{
    flex: 1;
    height: fit-content;
    border: 1px solid var(--clr-border);
}

.filter h3{
    font-weight: 400;
    padding: 1rem;
    border-bottom: 1px solid var(--clr-border);
}

.products-list{
    flex: 4;
}

.products-list-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    border-top: 1px solid var(--clr-border);
    border-bottom: 1px solid var(--clr-border);
    padding: .5rem;
}

.products-list-container .product-card{
    flex: 1 0 auto;
}