.category-products{
    display: flex;
    gap: 1rem;
}

.category-products__filter{
    flex: 1;
    height: fit-content;
    border: 1px solid var(--clr-border);
}

.category-products__title{
    font-weight: 400;
    padding: 1rem;
    border-bottom: 1px solid var(--clr-border);
}

.category-products__container{
    flex: 4;
}

.category-products__list{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    border-top: 1px solid var(--clr-border);
    border-bottom: 1px solid var(--clr-border);
    padding: .5rem;
}

.category-products__list .product-card{
    flex: 1 0 1;
}