.product-page{
    display: flex;
    gap: 1.5rem;
    max-width: calc(100vw - 12rem);
}

.product-page__image-container{
    flex: 1;
    position: relative;
}

.product-page__content{
    flex: 1.5;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-page__name{
    font-size: 1.5rem;
    font-weight: 500;
}

.product-page__price{
    font-size: 2rem;
    font-weight: 600;
}

.product-page__rupee-sign{
    font-size: 1.5rem;
}

.product-page__product-desc{
    font-family: 1.5rem;
    font-weight: 500;
}

.product-page__section--counter{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.product-page__button{
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: .35rem;
    padding: .5rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.product-page__button--counter{
    background-color: var(--clr-border);
    padding: .25rem 1rem;
    border-radius: .25rem;
}

.product-page__button:hover{
    color: var(--clr-txt-hover);
}

.product-page__button:focus{
    outline: 2px solid var(--clr-txt-hover);
}

.product-page__button--buy-now{
    color: var(--clr-txt-white);
    border-radius: .25rem;
    background-color: var(--clr-btn-buy-now);
}

.product-page__btn-wrapper{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.product-page__list{
    list-style: none;
    padding-left: 1rem;
}

/* Product info table  */
.product-page__table{
    padding-left: 1rem;
}

.product-page__th{
    font-weight: 500;
    text-align: start;
}

.product-page__td{
    padding-left: 2rem;
}

.product-page__seller-name{
    padding-left: 1rem;
}