.category-card {
  position: relative;
  border-radius: 5%;
  overflow: hidden;
}

.category-card__img {
  object-fit: cover;
  transition: transform 300ms ease-in;
  filter: brightness(0.75);
  cursor: pointer;
  aspect-ratio: 16 / 9;
}

.category-card:hover .category-card__img {
  transform: scale(1.05);
}

.category-card__name {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}
