.cart{
    display: flex;
    gap: 1rem;
}

.cart__container{
    flex: 4;
}

.cart__summary{
    flex: 1;
    max-height: fit-content;
}

.cart__title{
    border-bottom: 1px solid var(--clr-border);
    padding: .5rem 0;
    font-weight: 500;
    font-size: 1.25rem;
}

.cart__content{
    list-style: none;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.cart__total-amount{
    font-size: 1.25rem;
}

.cart__checkout-btn{
    border: 0;
    background-color: var(--clr-btn-bg);
    cursor: pointer;
    padding: .5rem;
    font-size: 1.25rem;
    border-radius: .25rem;
    color: var(--clr-txt-white);
}

.cart__content--cart-empty{
    background-color: var(--clr-border);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    width: 100%;
    min-height: 50vh;
    border-radius: .25rem;
    margin-inline: auto;
    flex-shrink: 0;
}

.cart__title-empty{
    border: 0;
    color: var(--clr-btn-error);
}

.cart__link{
    color: currentColor;
}

@media (max-width: 60rem){
    .cart{
        display: block;
    }
    .cart__summary{
        margin: 1rem 0;
        max-width: 30rem;
        margin-inline: auto;
    }
    .cart__checkout-btn{
        font-size: 1rem;
    }
}