.orders{
    max-width: 50rem;
    width: 100%;
    margin-inline: auto;
}

.orders__title{
    font-weight: 500;
}

.orders__tabs{
    display: flex;
    gap: 2rem;
    border-bottom: 2px solid var(--clr-border);
}

.orders__tab{
    border: 0;
    background-color: transparent;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 1rem;
}

.orders__tab:focus{
    outline: 2px solid var(--clr-txt-hover);
    border: 0;
}

.orders__tab:hover{
    color: var(--clr-txt-hover);
}

.orders__list{
    list-style: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.orders__item{
    border: 1px solid var(--clr-border);
    border-radius: .5rem;
}

.orders__header{
    display: flex;
    gap: 2rem;
    background-color: var(--clr-fade-bg);
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    padding: .5rem .75rem;
}

.orders__header-item:last-child{
    margin-left: auto;
}

.orders__body{
    padding: 1rem;
}

.orders__product{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.orders__product-img{
    width: 10rem;
    height: 7rem;
}

.orders__sub-title{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
}

.orders__link{
    color: var(--clr-txt-black);
}

.orders__link:hover{
    color: var(--clr-txt-hover);
}

.orders__tab--active{
    border-bottom: 2px solid var(--clr-txt-hover);
}

.orders__empty{
    text-align: center;
}