.btn {
    position: absolute;
    top: 40%;
    color: var(--clr-txt-white);
    width: 3rem;
    height: 6rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:focus,
.btn:focus-visible {
    border: 3px solid var(--clr-txt-white);
    outline: 3px solid var(--clr-txt-hover);
}

.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}