.checkout{
    max-width: 60rem;
    margin: 2rem 0;
    margin-inline: auto;
}

.checkout__title{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.checkout__title--md{
    font-size: 1.25rem;
    border-bottom: 2px solid var(--clr-border);
    padding-bottom: .5rem;
}

.checkout__body{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.checkout__address{
    flex: 1;
}

.checkout__summary{
    flex: 1;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--clr-border);
    border-radius: .5rem;
    padding: 1rem;
}

.checkout__address-card{
    border: 1px solid var(--clr-border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.checkout__sec{
    padding-bottom: .5rem;
}

.checkout__table{
    width: 100%;
    padding-top: 1rem;
}

.checkout__trow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout__trow--grand-total{
    font-weight: 600;
    text-transform: uppercase;
}

.checkout__selected-address{
    padding: 1rem 0.5rem;
}

.checkout__btn{
    border: 0;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.1rem;
    background-color: var(--clr-btn-bg);
    color: var(--clr-txt-white);
    cursor: pointer;
}

.checkout__btn:hover{
    opacity: .8;
}