.cart-btn{
    border: 0;
    background-color: var(--clr-btn-bg);
    cursor: pointer;
    border-radius: .25rem;
    color: var(--clr-txt-white);
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    gap: .25rem;
    padding: .5rem;
    width: fit-content;
    align-self: center;
}

.cart-btn:focus{
    outline: 3px solid var(--clr-txt-hover);
}

.cart-btn--remove{
    background-color: var(--clr-btn-error);
}

.cart-btn--out-of-stock{
    background-color: var(--clr-btn-out-of-stock);
}

@media (max-width: 50rem){
    .cart-btn{
        font-size: .9rem;
    }
}