.navbar{
    display: flex;
    align-items: center;
    padding: .75rem;
    background-color: var(--clr-nav-bg);
    color: var(--clr-txt-white);
    position: fixed;
    max-height: 6rem;
    top:0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar__link{
    color: var(--clr-txt-white);
}

.navbar__logo{
    font-size: 1.5rem;
    margin-right: auto;
}

.navbar__list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
    gap: 1rem;
}

.navbar__list-item--cart{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .25rem;
}

.navbar__cart-icon{
    position: relative;
    font-size: 1.5rem;
}

.navbar__cart-icon::before{
    content: "0";
    position: absolute;
    background-color: red;
    top: -.35rem;
    right: -.5rem;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
}

.navbar__list-item--user-profile{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}