.navbar {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  background-color: var(--clr-nav-bg);
}

.navbar__link {
  color: var(--clr-txt-white);
}

.navbar__link--logo {
  font-size: 1.5rem;
  margin-right: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
  gap: 2rem;
}

.navbar__list-item {
  cursor: pointer;
  color: var(--clr-txt-white);
  font-size: 1.25rem;
}

.navbar__cart-icon {
  position: relative;
  font-size: 1.5rem;
}

.navbar__cart-icon::before {
  content: attr(data-cart-items);
  position: absolute;
  background-color: var(--clr-btn-error);
  top: -0.35rem;
  right: -0.5rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: var(--clr-txt-white);
}

.navbar__link--cart {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media (max-width: 45rem) {
  .navbar {
    display: grid;
    grid-template-areas:
      "logo list"
      "search search";
    gap: 1rem;
    padding: 1rem;
  }
  .navbar__link--logo {
    grid-area: "logo";
  }
  .navbar__list {
    gap: 1.5rem;
    grid-area: "list";
  }
}
