.input-group{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: flex-start;
}

.input-group__label{
    font-size: 1.125rem;
}

.input-group__input{
    padding: .5rem .75rem;
    font-size: 1.15rem;
    border: 2px solid var(--clr-border);
    border-radius: .25rem;
    width: 100%;
}

.input-group__input:focus,
.input-group__input:focus-visible{
    outline: 1px solid var(--clr-txt-hover);
    border: 1px solid var(--clr-txt-hover);
}