.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;
}

.input-group__label {
  font-size: 1.125rem;
}

.input-group__input {
  padding: 0.5rem 0.75rem;
  font-size: 1.15rem;
  border: 2px solid var(--clr-border);
  border-radius: 0.5rem;
  width: 100%;
  background-color: var(--clr-main-bg);
}

.input-group__input:focus,
.input-group__input:focus-visible {
  outline: 1px solid var(--clr-txt-hover);
  border: 1px solid var(--clr-txt-hover);
}
