.quantity-counter{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.quantity-counter__button{
    border: 0;
    background-color: var(--clr-border);
    cursor: pointer;
    padding: .25rem .5rem;
    border-radius: .25rem;
}