.quantity-counter {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.quantity-counter__button {
  border: 0;
  background-color: var(--clr-border);
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: var(--clr-txt);
  font-weight: 500;
}
