.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel__image-container {
  display: flex;
  width: fit-content;
}

.carousel__img {
  filter: brightness(0.75);
}

.carousel__btn__container {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  max-width: 4rem;
  margin-inline: auto;
  display: flex;
  gap: 1rem;
}

.carousel__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}
