.footer {
  background-color: var(--clr-footer-bg);
}

.footer__top {
  padding: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.footer__title {
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.footer__list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: .5rem;
  font-size: 1.5rem;
}

.footer__link {
  color: var(--clr-txt)
}

.footer__link:hover {
  text-decoration: underline;
  color: var(--clr-txt-hover)
}

.footer__list--col {
  flex-direction: column;
  gap: 0;
  font-size: 1rem;
}

.footer__bottom {
  padding: 1rem;
  border-top: 1px solid var(--clr-border);
}

.footer__section--bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 60rem) {
  .footer__top {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
  }
}

@media(max-width: 40rem) {
  .footer__top {
    padding: 1rem;
  }
}