@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff: "Poppins", sans-serif;
  --clr-nav-bg: hsl(200, 50%, 20%);
  --clr-txt-white: hsl(0, 0%, 100%);
  --clr-txt-hover: hsl(29, 87%, 67%);
  --clr-txt-black: hsl(0, 0%, 0%);
  --clr-border: hsl(0, 0%, 60%, 0.25);
  --clr-btn-out-of-stock: hsl(0, 0%, 30%);
  --clr-txt-fade: hsl(0, 0%, 60%);
  --clr-fade-bg: hsl(0, 0%, 90%, 0.9);
  --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
  --clr-loader: hsl(200, 70%, 50%);
  --clr-loader-border: hsl(0, 0%, 60%, 0.25);
  --clr-primary-200: hsl(200, 70%, 50%);
  --clr-danger: hsl(0, 95%, 50%);
  --clr-success: hsl(100, 80%, 50%);
  --clr-img-bg: var(--clr-txt-white);
  --clr-breadcrumb-active: hsl(0, 0%, 30%, 0.9);
}

body {
  --clr-link: var(--clr-txt-black);
  --clr-txt: var(--clr-txt-black);
  --clr-bg: var(--clr-txt-white);
  font-family: var(--ff);
  min-height: 100vh;
  scroll-behavior: smooth;
  transition: background-color 200ms ease-in;
}

.dark {
  --clr-txt: var(--clr-txt-white);
  --clr-bg: var(--clr-txt-black);
  --clr-main-bg: hsl(0, 0%, 0%, 0.9);
  --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 4.75);
  --clr-link: var(--clr-txt-white);
  --clr-fade-bg: hsl(0, 0%, 90%, 0.2);
  --clr-loader-border: var(--clr-txt);
  --clr-breadcrumb-active: var(--clr-txt-fade);
  background-color: var(--clr-main-bg);
  color: var(--clr-txt);
}

input,
select,
textarea,
button {
  font-family: inherit;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.main {
  width: 100%;
  margin: 0.5rem 0;
  margin-inline: auto;
  min-height: 25rem;
  padding: 0 0.5rem;
}

label {
  cursor: pointer;
}

@media (max-width: 50rem) {
  .main {
    padding: 0 0.5rem;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;
}

.input-group__label {
  font-size: 1.125rem;
}

.input-group__input {
  padding: 0.5rem 0.75rem;
  font-size: 1.15rem;
  border: 2px solid var(--clr-border);
  border-radius: 0.25rem;
  width: 100%;
  background-color: var(--clr-main-bg);
  color: var(--clr-txt);
}

.input-group__input:focus,
.input-group__input:focus-visible {
  outline: 1px solid var(--clr-txt-hover);
  border: 1px solid var(--clr-txt-hover);
}

.page-not-found {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.page-not-found__title {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.page-not-found__link {
  color: var(--clr-primary-200);
}

.page-not-found__link:hover {
  text-decoration: underline;
}
