.search-box {
  max-width: 25rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  grid-area: search;
  margin-inline: auto;
  border: 1px solid var(--clr-border);
}

.search-box__input {
  width: 100%;
  border: 0;
  background-color: transparent;
  color: white;
}

.search-box__input:focus {
  outline: 0;
}
