.search-box {
  max-width: 25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  margin-inline: auto;
  border: 1px solid var(--clr-border);
}

.search-box__input {
  width: 100%;
  border: 0;
  background-color: transparent;
  color: white;
}

.search-box__input:focus {
  outline: 0;
}

@media (max-width: 50rem) {
  .search-box{
    border: 0;
    width: 0;
    margin-inline: 0;
    cursor: pointer;
  }
  .search-box__input{
    width: 0;
  }
}
