.account-sec {
  max-width: 50rem;
  width: 100%;
  margin: 2rem 0;
  margin-inline: auto;
}

.account-sec__title {
  font-size: 1.75rem;
  font-weight: 500;
  padding: 0 1rem;
  text-align: center;
}

.account-sec__sub-title {
  font-size: 1.25rem;
  font-weight: 400;
}

.account-sec__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem;
}

.account-sec__card {
  border: 1px solid var(--clr-border);
  padding: 1rem;
  border-radius: 0.35rem;
  max-height: 10rem;
  height: 100%;
}

.account-sec__desc {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--clr-txt-fade);
}

.account-sec__link {
  color: var(--clr-link);
}

.account-sec__link:hover {
  background-color: var(--clr-border);
  border-radius: 0.25rem;
}

.account-sec__link:focus {
  outline: 2px solid var(--clr-txt-hover);
  border-radius: 0.25rem;
}

.account-sec__logout {
  margin-top: 2rem;
}

.account-sec__logout-btn {
  border: none;
  background-color: red;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  margin-inline: auto;
}

.account-sec__logout-btn:hover {
  opacity: 0.9;
}

@media (max-width: 60rem) {
  .account-sec__container {
    grid-template-columns: 1fr;
  }
}
