.accordion {
  padding: 0.5rem;
  border-bottom: 1px solid var(--clr-border);
}

.accordion__top {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.accordion__title {
  font-weight: 600;
}

.accordion__bottom {
  padding-left: 0.5rem;
}

.accordian__indicator {
  font-size: 1.5rem;
}
