.auth-page {
  max-width: 30rem;
  margin-inline: auto;
  padding: 1rem;
}

.auth-page__title {
  font-size: 1.75rem;
  text-align: center;
}

.auth-page__form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.auth-page__info {
  margin-top: 1rem;
  text-align: start;
}

.auth-page__error-msg {
  color: var(--clr-danger);
}

.auth-page__link{
  color: var(--clr-txt-hover);
  text-decoration: underline;
}