.slider{
    position: relative;
    max-width: calc(100vw - 4rem);
    margin-inline: auto;
    margin-bottom: 3rem;
    overflow: hidden;
}

.slider-container{
    width: 100%;
    display: flex;
    gap: .5rem;
    transition: transform 600ms ease-in-out;
}

.slider .btn{
    position: absolute;
    top: 40%;
    color: var(--clr-txt-black);
    width: 3rem;
    height: 3rem;
    border: 0;
    background-color: var(--clr-txt-white);
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    opacity: 0;
}

.slider:hover .btn{
    opacity: 1;
}