.select-sec{
    display: flex;
    gap:.5rem;
    align-items: center;
}

.select-sec__label{
    flex-shrink: 0;   
}

.select-sec__select{
    padding: .25rem;
    width: 100%;
}

.select-sec__select:focus{
    outline: 2px solid var(--clr-txt-hover);
    border-radius: .25rem;
    border: 0;
}

.select-sec--state{
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.25rem;
}


@media (max-width: 50rem){
    .select-sec__label{
        font-size: .8rem;
    }
}